In [ ]:
import pyodbc
import numpy as np
import pandas as pd
print("imported successfully")

In [ ]:
SERVER = "LAPTOP-STSGIRJL\MINHAN"
DATABASE = 'NEWDATABASE'
USERNAME = 'sa'
PASSWORD = '12345'
connectionString = f'DRIVER={{SQL Server}};SERVER={SERVER};DATABASE={DATABASE};UID={USERNAME};PWD={PASSWORD}'
conn = pyodbc.connect(connectionString)
print("Connection Successfully!")

In [ ]:
def execute(statement, column: list):
    cursor = conn.cursor()
    cursor.execute(statement)
    records = cursor.fetchall()
    cursor.close()
    return pd.DataFrame(np.array(records), columns=[a for a in column])

In [ ]:
result = execute("""
SELECT *
FROM SCHOOL s
""",[a for a in range(1,80)] )
total = result.copy()
total

In [ ]:
result = execute("""
SELECT TOP 10
    SCHOOL_ID,
    NAME_OF_SCHOOL,
    Elementary_Middle_or_High_School 
FROM SCHOOL s
ORDER BY SCHOOL_ID
""",['SCHOOL_ID',
     'NAME_OF_SCHOOL',
     'Elementary_Middle_or_High_School'] )
result

In [ ]:
result = execute("""
SELECT 
    SCHOOL_ID,
    Name_of_School,
    Collaborative_Name
FROM SCHOOL
WHERE Collaborative_Name = 'WEST SIDE COLLABORATIVE'
""",[
    'SCHOOL_ID',
    'Name_of_School',
    'Collaborative Name'] )
result

In [ ]:
result = execute("""
SELECT Name_of_School, Safety_Score
FROM SCHOOL
WHERE Safety_Score >= 80
""",[
    'Name_of_School', 'Safety_Score'] )
result

In [ ]:
result = execute("""
SELECT Name_of_School, Average_Student_Attendance, Average_Teacher_Attendance
FROM SCHOOL
ORDER BY Average_Student_Attendance DESC, Average_Teacher_Attendance DESC 
""",[
    'Name_of_School', 'Average_Student_Attendance',' Average_Teacher_Attendance'
    ] )
result

In [ ]:
cursor = conn.cursor()
cursor.execute("""
DELETE FROM SCHOOL 
WHERE Collaborative_Name = 'WEST SIDE COLLABORATIVE'
""")
cursor.commit()
cursor.close()
print("commit successfully")

In [ ]:
result = execute("""
SELECT 
    Collaborative_Name,
    COUNT(Collaborative_Name)
FROM SCHOOL
GROUP BY Collaborative_Name
""",[
    'Collaborative Name',
    'AMMOUNT'] )
result

In [ ]:
print("Em yÃªu ADY")

In [ ]:
cursor = conn.cursor()
cursor.execute("""
INSERT INTO SCHOOL (School_ID, Name_of_School, Elementary_Middle_or_High_School, Street_Address, City, State, ZIP_Code, Phone_Number, Link, Network_Manager, Collaborative_Name, Adequate_Yearly_Progress_Made, Track_Schedule, CPS_Performance_Policy_Status, CPS_Performance_Policy_Level, Healthy_Schools_Certified, Safety_Icon, Safety_Score, Family_Involvement_Icon, Family_Involvement_Score, Environment_Icon, Environment_Score, Instruction_Icon, Instruction_Score, Leaders_Icon, Leaders_Score, Teachers_Icon, Teachers_Score, Parent_Engagement_Icon, Parent_Engagement_Score, Parent_Environment_Icon, Parent_Environment_Score, Average_Student_Attendance, Rate_of_Misconducts_per_100_students, Average_Teacher_Attendance, Individualized_Education_Program_Compliance_Rate, Pk_2_Literacy, Pk_2_Math, Gr3_5_Grade_Level_Math, Gr3_5_Grade_Level_Read, Gr3_5_Keep_Pace_Read, Gr3_5_Keep_Pace_Math, Gr6_8_Grade_Level_Math, Gr6_8_Grade_Level_Read, Gr6_8_Keep_Pace_Math, Gr6_8_Keep_Pace_Read, Gr_8_Explore_Math, Gr_8_Explore_Read, ISAT_Exceeding_Math, ISAT_Exceeding_Reading, ISAT_Value_Add_Math, ISAT_Value_Add_Read, ISAT_Value_Add_Color_Math, ISAT_Value_Add_Color_Read, Students_Taking_Algebra, Students_Passing_Algebra, _9th_Grade_EXPLORE_2009, _9th_Grade_EXPLORE_2010, _10th_Grade_PLAN_2009, _10th_Grade_PLAN_2010, Net_Change_EXPLORE_and_PLAN, _11th_Grade_Average_ACT_2011, Net_Change_PLAN_and_ACT, College_Eligibility, Graduation_Rate, College_Enrollment_Rate, College_Enrollment_number_of_students, General_Services_Route, Freshman_on_Track_Rate, RCDTS_Code, X_COORDINATE, Y_COORDINATE, Latitude, Longitude, Community_Area_Number, Community_Area_Name, Ward, Police_District, Location) 
VALUES 
(7276942, N'FPT UNIVERSITY', N'UNI', N'2819 W 21st Pl ', N'Chicago', N'IL', 60623, N'(773) 535-4580', N'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609966.pdf', N'Fullerton Elementary Network', N'WEST SIDE COLLABORATIVE', 0, N'Standard', N'Not on Probation', N'Not Enough Data', 0, N'Average', 54, N'Average', 58, N'Weak', 37, N'Average', 41, N'Very Strong', 83, N'Very Strong', 88, N'Average', 51, N'Strong', 55, 95.0999984741211, 4.3000001907348633, 0, 97.699996948242188, 47.5, 39.900001525878906, 30.799999237060547, 27.799999237060547, 47.799999237060547, 38.599998474121094, 41.099998474121094, 38.5, 49.200000762939453, 55.400001525878906, 15.300000190734863, 30.5, 11.199999809265137, 12, -1.7999999523162842, -0.30000001192092896, N'Red', N'Yellow', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', N'NDA', 826, 30, N'NDA', 150000000000000, 1137482.25, 1919394.875, 41.934967041015625, -87.7701644897461, 19, N'BELMONT CRAGIN', 30, 25, N'(41.93496641, -87.77016525)')

""")
cursor.commit()
cursor.close()
print("commit successfully")

In [ ]:
result = execute("""
SELECT 
    Collaborative_Name,
    COUNT(Collaborative_Name)
FROM SCHOOL
GROUP BY Collaborative_Name
""",[
    'Collaborative Name',
    'AMMOUNT'] )
result

In [ ]:
result = execute("""
SELECT 
	Name_of_School,
	Collaborative_Name
FROM SCHOOL
WHERE School_ID = 7276942
""",[
    'SCHOOL NAME',
    'Collaborative_Name'] )
result

In [ ]:
cursor = conn.cursor()
cursor.execute("""
UPDATE SCHOOL SET Name_of_School = 'FPT POLYTECHNIC' WHERE School_ID = 7276942
""")
cursor.commit()
cursor.close()
print("commit successfully")

In [ ]:
result = execute("""
SELECT 
	Name_of_School,
	Collaborative_Name
FROM SCHOOL
WHERE School_ID = 7276942
""",[
    'SCHOOL NAME',
    'Collaborative_Name'] )
result