# Data Types

In [2]:
## integer
class(3L)
is.integer(2L)

[1] "integer"

[1] TRUE

In [3]:
## numeric
class(3)
is.numeric(4)
is.numeric(4L)

[1] "numeric"

[1] TRUE

[1] TRUE

In [1]:
## Character
a <- "My name is Nguyen"
class(a)
is.character(a)

[1] "character"

[1] TRUE

In [2]:
## Logical
b <- TRUE
class(b)
is.logical(b)

[1] "logical"

[1] TRUE

# Data Type Conversation

In [ ]:
## integer to numeric
as.numeric(10L)
## numeric to character
as.character(10L)
## character to numeric
as.numeric("10L")
## numeric to integer
as.integer(10.1)
## character to numeric
as.numeric("A")
## numeric to logical
as.logical(1)
## character to logical
as.logical("FALSE")
## logical to numeric
as.numeric(FALSE)

# Basic Math

In [ ]:
139 + 121
139 - 121
2*3
260/60
2^3 # exponential diff

# Variables

In [3]:
x <- 10 + 20
x

[1] 30

In [ ]:
y <-x/3
y

# Variable Reassigment

In [7]:
x <- 10 + 20
x

[1] 30

In [8]:
# Overwrite x
x <- x/3
x

[1] 10

# Variable Names

In [9]:
# Total time
var <- 10+20
var

[1] 30

# String in R

In [10]:
name <- "Dinh Nguyen"
name

[1] "Dinh Nguyen"

# c() function

In [11]:
a <- c(1,5,"A",8,8,6)
a

[1] "1" "5" "A" "8" "8" "6"

In [13]:
x <- 1:5
y <- 10:15
z <- 20:25
result1 <- c(x,y,z)
result1

 [1]  1  2  3  4  5 10 11 12 13 14 15 20 21 22 23 24 25

In [14]:
## Concatenating data: cbind() function
df1 <- data.frame(name = c('A','B','C','D','E','F'),
                  age = c(22,25,28,19,15,23))
print(df1)
df2 <- data.frame(gender=c('Male','Male','Female','Male','Female','Female'))
print(df2)

  name age
1    A  22
2    B  25
3    C  28
4    D  19
5    E  15
6    F  23
  gender
1   Male
2   Male
3 Female
4   Male
5 Female
6 Female

In [15]:
data = cbind(df1, df2)
data

  name age gender
1 A    22  Male
2 B    25  Male
3 C    28  Female
4 D    19  Male
5 E    15  Female
6 F    23  Female

In [16]:
## Concatanating data: rbind() function
x <- 1:4
y <-6:8
z <-11:15
result3 = rbind(x,y,z)
print(result3)
## Parameters:x1, x2: vector, matrix, data frames

Warning message in rbind(x, y, z):
“number of columns of result is not a multiple of vector length (arg 1)”

  [,1] [,2] [,3] [,4] [,5]
x    1    2    3    4    1
y    6    7    8    6    7
z   11   12   13   14   15