In [1]:
import pandas as pd 

raw_file = pd.read_csv("./craw.csv")

raw_file["cast"] = raw_file["cast"].str.replace("\'", '\"')
raw_file["crew"] = raw_file["crew"].str.replace("\'", '\"')
raw_file["cast"] = raw_file["cast"].str.replace("None", "\"NaN\"")
raw_file["crew"] = raw_file["crew"].str.replace("None", "\"None\"")
raw_file.shape

(45476, 3)

In [2]:
a = raw_file["crew"].apply(lambda x: len(x)) != 2
b = raw_file["cast"].apply(lambda x: len(x)) != 2
raw_file = raw_file[a][b]
raw_file

C:\Users\cuoir\AppData\Local\Temp\ipykernel_18516\2817319945.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  raw_file = raw_file[a][b]

,cast,crew,id
0,"[{""cast_id"": 14, ""character"": ""Woody (voice)"",...","[{""credit_id"": ""52fe4284c3a36847f8024f49"", ""de...",862
1,"[{""cast_id"": 1, ""character"": ""Alan Parrish"", ""...","[{""credit_id"": ""52fe44bfc3a36847f80a7cd1"", ""de...",8844
2,"[{""cast_id"": 2, ""character"": ""Max Goldman"", ""c...","[{""credit_id"": ""52fe466a9251416c75077a89"", ""de...",15602
3,"[{""cast_id"": 1, ""character"": ""Savannah ""Vannah...","[{""credit_id"": ""52fe44779251416c91011acb"", ""de...",31357
4,"[{""cast_id"": 1, ""character"": ""George Banks"", ""...","[{""credit_id"": ""52fe44959251416c75039ed7"", ""de...",11862
...,...,...,...
45470,"[{""cast_id"": 1, ""character"": ""Sir Robert Hode""...","[{""credit_id"": ""52fe44439251416c9100a899"", ""de...",30840
45471,"[{""cast_id"": 0, ""character"": """", ""credit_id"": ...","[{""credit_id"": ""5894a97d925141426c00818c"", ""de...",439050
45472,"[{""cast_id"": 1002, ""character"": ""Sister Angela...","[{""credit_id"": ""52fe4af1c3a36847f81e9b15"", ""de...",111109
45473,"[{""cast_id"": 6, ""character"": ""Emily Shaw"", ""cr...","[{""credit_id"": ""52fe4776c3a368484e0c8387"", ""de...",67758
45474,"[{""cast_id"": 2, ""character"": """", ""credit_id"": ...","[{""credit_id"": ""533bccebc3a36844cf0011a7"", ""de...",227506

In [3]:
import json

m = raw_file.shape[0]
eror_rows = {
    "cast": [],
    "crew": []
}
cast_list = []
crew_list = []
m = raw_file.shape[0]
for i in range(m):
    try:
        cast_list += json.loads(raw_file["cast"][i])
    except:
        pass
for i in range(m):
    try:
        crew_list += json.loads(raw_file["crew"][i])
    except:
        pass
cast_table = pd.DataFrame(cast_list)
crew_table= pd.DataFrame(crew_list)
cast_table.shape, crew_table.shape

((276123, 8), (355298, 7))

In [19]:
cast_table["character"].apply(lambda x: ("(voice)" in x)).sum()

6995

In [28]:
cast_table[cast_table["character"]!=""]["character"].value_counts().head(5)

Himself     8071
Herself     2159
himself      450
Narrator     426
Anna         300
Name: character, dtype: int64

In [38]:
cast_table["cast_id"].unique()

array([  14,   15,   16,   17,   18,   19,   20,   26,   22,   23,   24,
         25,   27,    1,    8,    2,   10,   11,   13,   31,   12,   28,
         29,   30,   32,   33,   34,   35,   36,   37,   50,   39,   40,
         41,   42,    3,    4,    5,    6,    9,   56,   57,   58,   59,
         60,   61,   62,   63,   64,   65,   66,   67,   68,   69,   70,
         71,   72,   73,   74,   75,   76,   77,   78,   79,   80,   81,
         82,   83,   84,   85,   86,   87,   88,   89,   90,   91,   92,
         93,   94,   95,   96,   97,   98,   99,  100,  101,    7,   38,
         21,   43,   44,   45,   49,   51,   52,   53,   47, 1001, 1002,
       1003, 1006, 1007,   46,   48, 1004, 1008, 1020,   54,   55, 1005,
       1024, 1000,  103,  102, 1009,  105,  106, 1010,    0, 1011, 1012,
       1013, 1014, 1016, 1017, 1018, 1019, 1015,  139,  119,  121,  122,
        123,  104, 1058, 1060, 1025, 1021, 1022, 1023, 1026, 1027, 1028,
       1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039,
       1040, 1041, 1042, 1043, 1044, 1045,  124,  125,  126,  127,  118,
        107,  108,  109,  110,  111,  112,  113,  180,  143,  147,  148,
       1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056,
       1057, 1059, 1061, 1062,  154,  155,  152,  156,  157,  158,  160,
        167,  153,  169,  171,  170,  168,  159,  161,  162,  163,  165,
        166,  172,  173,  174,  177,  175,  176,  178,  179,  151,  149,
        150,  181,  182,  183,  184,  185,  186,  187,  188,  189,  190,
        191,  192,  193,  194,  195,  196,  197,  198,  199,  200,  201,
        202,  203,  204,  164,  115,  116,  117,  120,  142,  114,  128,
        206,  144,  145,  205,  207,  208,  209,  210,  211,  212,  213,
        214,  215,  216,  217,  218,  219,  220,  221,  222,  223,  224,
        225,  226,  227,  228,  229,  129,  130,  131,  132,  133,  134,
        135,  136,  137,  138,  140,  141,  146, 1063, 1064, 1065, 1066,
       1067, 1071, 1070, 1068,  231,  232,  233, 1115, 1116], dtype=int64)