In [22]:
import pandas as pd
import numpy as np
import ast

In [23]:
keyword_df = pd.read_csv('keywords.csv')
keyword_df = keyword_df[keyword_df['keywords'].apply(lambda x: x != [])]

In [24]:
dict={'Film_id':[], 'Keywords_id':[],'Keywords':[]}
for i in keyword_df.index.to_list():
    for key_list in ast.literal_eval(keyword_df.iloc[i,1]):
        dict['Film_id'].append(keyword_df.iloc[i,0])
        dict['Keywords_id'].append(key_list['id'])
        dict['Keywords'].append(key_list['name'])
cleaned_keyword_df = pd.DataFrame(dict)
cleaned_keyword_df.head()
print(f'Null values in cleaned keyword dataframe: \n{cleaned_keyword_df.isnull().sum()}')

Null values in cleaned keyword dataframe:
Film_id        0
Keywords_id    0
Keywords       0
dtype: int64

In [25]:
uncle_keyword = cleaned_keyword_df[cleaned_keyword_df['Keywords'].apply(lambda x: 'uncle' == x.lower())]
uncle_keyword.head()

      Film_id  Keywords_id Keywords
249     37557         6464    uncle
2399     8587         6464    uncle
2664     2758         6464    uncle
3513    11236         6464    uncle
7520    13446         6464    uncle

In [26]:
print('The number of films with the keyword "uncle" is: ', len(uncle_keyword['Film_id'].unique()))

The number of films with the keyword "uncle" is:  42

In [27]:
print('Top 5 keywords with highest frequency:')
cleaned_keyword_df['Keywords'].value_counts().to_frame().head(5)

Top 5 keywords with highest frequency:

                  count
Keywords
woman director     3115
independent film   1930
murder             1308
based on novel      835
musical             734