# Regular Expressions

### Regex in R

In [ ]:
grep("@.*", c("testing@testing.com", "not an email", "test2@testing.com"))

[1] 1 3

In [ ]:
grep("@.*", c("testing@testing.com", "not an email", "test2@testing.com"), value=TRUE)

[1] "testing@testing.com" "test2@testing.com"

In [ ]:
grep("@.*", "@newdomain.com", c("testing@testing.com", "not an email", "test2@testing.com"), value=TRUE)

[1] "@newdomain.com"

In [ ]:
matches <- regexpr("@.*", c("testing@testing.com", "not an email", "test2@testing.com"))
regmatches(c("test@testing.com", "not an email", "test2@testing.com"), matches)

[1] "sting.com"    "@testing.com"

### Problem Solving

In [ ]:
Name <- c("John Doe", "John Doe", "Mark Mann", "Barry Goode")
Email <- c("doej@example.com", "jadoe@example.ca", "mmann@example.ca", "bgoode@example.com")
email_df <- data.frame(Name, Email)
email_df

  Name        Email
1 John Doe    doej@example.com
2 John Doe    jadoe@example.ca
3 Mark Mann   mmann@example.ca
4 Barry Goode bgoode@example.com

In [ ]:
matches <- regexpr("@.*\\.", email_df[, "Email"])
email_df[, "Domain"] <-  regmatches(email_df[, "Email"], matches)
email_df

  Name        Email              Domain
1 John Doe    doej@example.com   @example.
2 John Doe    jadoe@example.ca   @example.
3 Mark Mann   mmann@example.ca   @example.
4 Barry Goode bgoode@example.com @example.

# Date Format in R

In [ ]:
Actor.Name <- c("Leonardo Dicaprio", "Eddie REdmayne", "Matthew McConaughey", "Daniel Day-Lewis")
Date.of.Birth <- c(153360000, 379123200, -5011200, -400032000)
bestActors <- data.frame(Actor.Name, Date.of.Birth)
bestActors

  Actor.Name          Date.of.Birth
1 Leonardo Dicaprio    153360000
2 Eddie REdmayne       379123200
3 Matthew McConaughey   -5011200
4 Daniel Day-Lewis    -400032000

In [ ]:
actors.birthday <- as.POSIXct(bestActors$Date.of.Birth, origin = "1970-01-01")
actors.birthday

[1] "1974-11-11 UTC" "1982-01-06 UTC" "1969-11-04 UTC" "1957-04-29 UTC"

In [ ]:
actors.birthday <- as.Date(actors.birthday)
actors.birthday

[1] "1974-11-11" "1982-01-06" "1969-11-04" "1957-04-29"

In [ ]:
Actress.Name <- c("Brie Larson", "Julianne Moore", "Cate Blanchett", "Jennifer Lawrence")
Date.of.Birth <- c("1989/10/01", "1960/12/03", "1869/05/14", "1990/08/15")
bestActresses <- data.frame(Actor.Name, Date.of.Birth)
bestActresses

  Actor.Name          Date.of.Birth
1 Leonardo Dicaprio   1989/10/01
2 Eddie REdmayne      1960/12/03
3 Matthew McConaughey 1869/05/14
4 Daniel Day-Lewis    1990/08/15

In [ ]:
actresses.birthday <- as.Date(bestActresses$Date.of.Birth, "%Y/%m/%d")
actresses.birthday

[1] "1989-10-01" "1960-12-03" "1869-05-14" "1990-08-15"

In [ ]:
as.Date("27/06/94", "%d/%m/%y")

[1] "1994-06-27"

In [ ]:
as.Date("1994/06/27") - as.Date("1959/01/01")

Time difference of 12961 days

In [ ]:
as.Date("1994/06/27") > as.Date("1959/01/01")

[1] TRUE

In [ ]:
as.Date("1994/06/27") - 14

[1] "1994-06-13"

In [ ]:
weekdays(Sys.Date())

[1] "Friday"

In [ ]:
months(Sys.Date())

[1] "May"

In [ ]:
quarters(Sys.Date())

[1] "Q2"

In [ ]:
julian(Sys.Date())

[1] 19860
attr(,"origin")
[1] "1970-01-01"

In [ ]:
seq(Sys.Date(), by="month", length.out=4)

[1] "2024-05-17" "2024-06-17" "2024-07-17" "2024-08-17"

# Debugging

### Producing an error

In [ ]:
"a" + 10

ERROR: Error in "a" + 10: non-numeric argument to binary operator

### Error halts execution

In [ ]:
for (i in 1:3) {
  print(i + "a")
}

ERROR: Error in i + "a": non-numeric argument to binary operator

### Error catching with tryCatch

In [ ]:
tryCatch(10+10)

[1] 20

In [ ]:
tryCatch("a"+10)

ERROR: Error in "a" + 10: non-numeric argument to binary operator

In [ ]:
tryCatch("a"+10, error=function(a) print("Error"))

[1] "Error"

In [ ]:
tryCatch("a"+10, error=function(a) print("10a"))

[1] "10a"

In [ ]:
tryCatch(
  for (i in 1:3) {
    print(i + "a")
  },
  error=function(e) print(e)
)

<simpleError in i + "a": non-numeric argument to binary operator>

In [ ]:
as.integer("A")

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA

In [ ]:
tryCatch(as.integer("A"), error=function(e) print("warning"))

Warning message in doTryCatch(return(expr), name, parentenv, handler):
“NAs introduced by coercion”

[1] NA